---
title: Home
description: The latest news about the Madison Reunion.
image: /images/union-chairs-header.jpg
bottom_image: /images/science-hall.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
      <img src="images/logo/bucky-logo-white.png" alt="">
			<h1 class="editable">The Madison Reunion</h1>
			<p class="subtext editable">Bringing the '60s back home</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About</h2>
				<p class="editable">Fifty years ago, Madison, Wisconsin was a cradle of what came to be known as “the counterculture,” a rich mix of music, art, politics, history and participatory experience. The Madison Reunion is a destination for all those interested in the place and the period—three days of lectures, performances, displays, meetings, meals and discussions, a kind of cultural Woodstock, to examine where we are, how we got here and what we left behind.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/1967.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="plan">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Panels We Are Currently Planning</h2>
				<p class="editable"></p>
        <ul>
          <li>
            "Clinton vs. Trump: The Last Battle of the Sixties Generation?"
          </li>
          <li>
            "Civil Rights; An Ongoing Awakening"
          </li>
          <li>
            "The War at Home; Taking it To The Streets"
          </li>
          <li>
            "Music; Retail as Revolution; Remembering Discount Records"
          </li>
          <li>
            "The Gay Rights Movement in Sixties Madison"
          </li>
          <li>
            "The Spiritual Search & The Bhuddist Connection"
          </li>
          <li>
            "Theories of Conspiracy; From JFK to Today"
          </li>
          <li>
            "Print & Broadcast Journalism; the Stories We Tell Ourselves"
          </li>
          <li>
            "Peter Pan to Virginia Wolf; The Madison Theater Experience"
          </li>
          <li>
            "UW History Dept: the Legacy of Harvey Goldberg and George Mosse"
          </li>
          <li>
            "The Comedy Connection; Is There a Madison Style? Blazing Saddles, Airplane, and The Onion"
          </li>
          <li>
            "Social Justice & the Law: Who Gets Jailed Depends On Who’s In Power"
          </li>
          <li>
            "Women in the Revolution and The Legacy of Gerda Lerner"
          </li>
          <li>
            "Earth Day: the Legacy of Gaylord Nelson"
          </li>
          <li>
            "The Long Revolution: The '60s March Toward Social Justice"
          </li>
        </ul>

			</div>
			<div class="image">
				<img class="editable" src="/images/trails.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="history">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Where & When</h2>
				<p class="editable">
          From June 14 through June 16, 2018, The Madison Reunion will be held throughout the campus and State Street, free and open to all.  We will sponsor bulletin boards (to help you find your old friends) tours (that place you used to live; what is it now?) films (when was the last time you saw Easy Rider or Zabriskie Point?) displays and exhibits.
        </p>
        <p class="editable">
          The Conference on Madison will be held during the same three days at the Memorial Union, with attendance by pre-registration only.  The Conference is limited to 1,000 attendees; a single registration provides access to all panels.
        </p>
			</div>
			<div class="image">
				<img class="editable" src="/images/old-bucky-costume.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">The Madison Reunion</h2>
				<p class="subtext editable">More information needed. It will go right here and under this will be another registration button at the bottom.</p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
