---
title: Home
description: The latest news about the Madison Reunion.
image: /images/union-chairs-header.jpg
bottom_image: /images/science-hall.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Madison Reunion</h1>
			<p class="subtext editable">More information needed. It will go right here and under this will be the registration button when it's ready.</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About us</h2>
				<p class="editable">Text about us and a related image.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="plan">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Plan</h2>
				<p class="editable">What's gonna happen.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="history">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">History</h2>
				<p class="editable">Just another section for more info.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">The Madison Reunion</h2>
				<p class="subtext editable">More information needed. It will go right here and under this will be another registration button at the bottom.</p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
