<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="embed-responsive embed-responsive-16by9" style="margin-top: 40px;">
            <iframe class="embed-responsive-item fb-video-home" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbensidranpage%2Fvideos%2F10159803294225201%2F&width=500&show_text=false&appId=235500563131804&height=280" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div><br><br>
        </div>
      </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row about-details">
                <div class="col-xs-12">
                  <p class="lead">
                    {{ site.aboutDescription }}
                  </p>
                </div>
                <!-- <div style="margin-bottom: 40px;" class="page-header col-xs-12">
                  <h5>The <b>Reunion</b> is free and open to all; the <b>Conference</b> is by registration only.</h5>
                </div> -->
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12">
                  <div class="well well-lg">

                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                      <h5>{{ about.title }}</h5>
                      <p class="about-disc">{{ about.disclaimer }}</p><br>
                      <img class="img" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="auto" alt="{{ about.title }}">
                      <p class="about-desc" style="text-align:left;">{{ about.text }}</p>
                      <p class="about-menus text-left">
                        {{ about.menus }}
                      </p>
                    </div>
                    <p class="text-left" style="margin-left: 10px;">
                      <a href="{{ about.permalink | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{about.btn-text}}</a>
                    </p>

                  </div>

                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}

                <!-- <div class="share-home col-xs-12">
                  <p><b>Share this</b></p>

                  {% include share.html %}
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
