<style media="screen">
  i {font-style: italic;}
</style>
<!-- About Hackathon Section -->
<section id="about-reunion" class="about-reunion">
  <div class="container">
    <div class="content-wrapper">
        <div class="col-md-12">
          <img src="/img/about-section/about-bucky-logo-black-w-text.png" alt="">
          <br><br>
          <h4>Reunion events are free and open to all!</h4>
          <br><br>
          <p>
            <b>Welcome:</b> Thursday, June 14, 11AM; a gathering on the Union Terrace with Madison Mayor Paul Soglin, UW Dean of L&S Karl Scholz and Madison Musician Ben Sidran. National anthem performed by Jimi Hendrix; fly-over performed by Lake Mendota ducks!
          </p>
          <p>
            <b>Trolley Tours</b> of Madison and the UW Campus, leaving from the Memorial Union Thursday through Saturday, 10AM – 4PM; <i>find out where you went wrong!</i>
          </p>
          <p>
            <b>Concierge Service:</b> Take a trip to Taliesin, find a restaurant, go shopping and more. <br>
            <a href="/concierge">View concierge service here</a>
          </p>
          <p>
            <b>Music:</b> Free and Live, every night, on the Memorial Union Terrace. <br>
            <a href="/live-music">View free music events here</a>.
          </p>

          <p>

          <b>Films:</b> Sponsored by the UW Cinematheque; films under consideration include Godard's <i>La Chinoise</i>, Fellini's <i>Satyricon</i>, <i>Easy Rider</i>, <i>Blow Up</i>, <i>The Graduate</i>, <i>2001: A Space Odyssey</i>, <i>Gimme Shelter</i>, <i>Petula</i> and a newly remastered version of <i>"The War at Home"</i> Glenn Silber's award winning documentary on the DOW demonstration. And in the Memorial Union's Festival Room <i>"Gold, the Future of America!"</i> (Friday)
          </p>

          <p>
            <b>Dance:</b> <i>Anna Halprin's Parades and Changes</i>; the artist as activist, at the Fredrick March Play Circle theater in the Memorial Union Thursday, June 14th, 5:15 - 6:15PM <br>
            <a href="/anna-halprin">About Anna Halprin.</a>
          </p>

          <p>
            <b>Exhibitions:</b> Sixties themed art exhibits all around town. <br>
            <a href="/exhibits">View exhibit info here</a>.
          </p>

          <p>
            <b>Bulletin Boards to find friends:</b> Find friends, leave messages.
          </p>

          <p>

            <b>The Memory Booth:</b> Record your most vivid recollection of the times.
          </p>

          <p>

            <b>Merchandise:</b> T-shirts, Tote Bags, Hats, more...
          </p>

          <p>
            <b>Ice Cream Social,</b> Saturday, June 16, 8 PM – to 10 PM on the Union Terrace, with special Madison Reunion flavors; <i>strawberry fields forever!</i>
          </p>

          <p>
            <b>Dance Party;</b> Saturday, June 16, 8 PM – to 10 PM in Great Hall with celebrity deejays and actual vinyl; <i>bringing the ‘60s back home!</i>
          </p>

          <p>
            <b>The Human Be-In,</b> Sunday, June 17, 10AM at picnic point; <i>last exit before freeway!</i>
          </p>

          <p>
            <b>Housing:</b> Relive your life in the dorms or find a hotel close by, we’ll help. <a href="/hotels">View housing here</a>.
          </p>

          <p>
            <b>Ticketed events:</b> <a href="/ticketed-events">View ticketed events here</a>.
            <br>
          </p>
        </div>
    </div>
    </div>
</section>
<!-- {% include share.html %} -->
<!-- End About Hackathon Section -->
