<style media="screen">
  i {font-style: italic;}
</style>
<!-- About Hackathon Section -->
<section id="about-reunion" class="about-reunion">
  <div class="container">
    <div class="content-wrapper">
        <div class="col-md-12">
          <img src="/img/about-section/about-bucky-logo-black-w-text.png" alt="">
          <br><br>

          <p>
            <b>
            Welcome:
            </b>
             Paul Soglin and Ben Sidran.
          </p>
<p>

  <b>
    Tours:
  </b>

</p>
<ul>
  <li>Trolley Tours of Langdon St., State St. and Mifflin St.: find where you went wrong.</li>
  <li>Food Tour: The Plaza, The Brat House, The Nitty Gritty and you won't believe what else.</li>
  <li>Frank Lloyd Wright's Monona Terrace and Otis Redding Memorial Park.</li>
  <li>The Lake Path and Picnic Point.</li>
</ul>

<p><b>Concierge Service:</b> <br>
  Take a trip to Taliesin, find a restaurant, go shopping and more.
</p>
<p>
  <u>BOATING</u> <br>
  <a href="https://www.visitmadison.com/things-to-do/lakes/cruises-and-boat-rentals/">https://www.visitmadison.com/things-to-do/lakes/cruises-and-boat-rentals/</a> <br>
  Pontoon Porch…<a href="http://pontoonporch.com">pontoonporch.com</a><br>
  Wingra Boats <br>
  Brittingham Boats <br>
  Marshall Boats <br>
  Olbrich Park Boat Rentals <br>
  <a href="http://www.bettyloucruises.com">www.bettyloucruises.com</a> <br>
</p>
<p>
  <u>BIKING & HIKING</u> <br>
  <a href="https://www.visitmadison.com/things-to-do/sports-and-recreation/biking-and-hiking/">https://www.visitmadison.com/things-to-do/sports-and-recreation/biking-and-hiking/</a> <br>
  <a href="http://dnr.wi.gov/topic/parks/name/capcity/">http://dnr.wi.gov/topic/parks/name/capcity/</a> <br>
  <a href="https://www.visitmadison.com/things-to-do/featured/top-10-trails/">https://www.visitmadison.com/things-to-do/featured/top-10-trails/</a> <br>
  <a href="https://www.travelwisconsin.com/article/natural-attractions-and-parks/seven-scenic-natural-wonders-of-dane-county">https://www.travelwisconsin.com/article/natural-attractions-and-parks/seven-scenic-natural-wonders-of-dane-county</a> <br>
  <a href="https://www.cityofmadison.com/parks/hiking">https://www.cityofmadison.com/parks/hiking</a> <br>
  Budget Bikes…<a href="https://budgetbicyclectr.com/Bicycle-Road-Mountain-Bike-Rentals-Madison/">https://budgetbicyclectr.com/Bicycle-Road-Mountain-Bike-Rentals-Madison/</a> <br>
  Madison B-Cycle…<a href="https://madison.bcycle.com/">https://madison.bcycle.com/</a> <br>
  Machinery Row…<a href="http://machineryrowbicycles.com/">machineryrowbicycles.com/</a> <br>
</p>
<p>
  <u>UW CAMPUS</u> <br>
  <a href="https://info.wisc.edu/plan-your-visit/">https://info.wisc.edu/plan-your-visit/</a>
</p>
<p>
  <u>Free Things to do in town</u> <br>
  Henry Vilas Zoo <br>
  Madison Public Library <br>
  Chazen Museum of Art…<a href="http://www.chazen.wisc.edu/">www.chazen.wisc.edu/</a> <br>
  UW-Madison Geology Museum <br>
  WI Veterans Museum <br>
  WI Historical Museum <br>
  Madison Museum of Contemporary Art (MMoca)… <a href="http://www.mmoca.org/">www.mmoca.org/</a> <br>
  Dane County Farmers Market <br>
  Governor’s Mansion <br>
  State Capitol…<a href="https://capitol100th.wisconsin.gov/">https://capitol100th.wisconsin.gov/</a> <br>
  Monona Terrace…<a href="https://www.mononaterrace.com/">https://www.mononaterrace.com/</a> <br>
  Olbrich Botanical Gardens…<a href="http://www.olbrich.org/">http://www.olbrich.org/</a> <br>
  Allen Centennial Gardens…<a href="https://allencentennialgarden.org/explore.php">https://allencentennialgarden.org/explore.php</a> <br>
  Overture Center for the Performing Arts… <a href="http://www.overture.org/">www.overture.org/</a> <br>
  Watrous Gallery in the Overture Center <br>
  UW Arboretum…<a href="https://arboretum.wisc.edu/">https://arboretum.wisc.edu/</a> <br>
</p>
<p>
  <u>GREAT VIEWS……SPECIAL PLACES</u> <br>
  <a href="https://isthmus.com/summertimes/nine-fine-spaces-hidden-in-madison/">https://isthmus.com/summertimes/nine-fine-spaces-hidden-in-madison/</a> <br>
  <a href="https://www.cityofmadison.com/parks/scenicoverlook">https://www.cityofmadison.com/parks/scenicoverlook</a> <br>
</p>
<p>
  <u>OUTDOOR DINING</u> <br>
  <a href="https://www.visitmadison.com/restaurants/waterfront-restaurants/">https://www.visitmadison.com/restaurants/waterfront-restaurants/</a>
</p>

<p>
  <b>Music:</b> Daily jam sessions in the Rathskeller, nightly concerts on the Terrace and '60s dj dance party in Great Hall.
</p>

<p>

<b>Films:</b> Sponsored by the UW Cinematheque; films under consideration include Goddard's <i>La Chinoise</i>, Fellini's <i>Satyricon</i>, <i>Easy Rider</i>, <i>Blow Up</i>, <i>The Graduate</i>, <i>2001: A Space Odyssey</i>, <i>Gimme Shelter</i>, <i>Petula</i>.
</p>

<p>

  <b>Photography:</b> Exhibits in the Union Gallery and State Historical Society.
</p>

<p>

  <b>Electronic Bulletin Board:</b> Find friends, leave messages.
</p>

<p>

  <b>The Memory Booth:</b> Record your most vivid recollection of the times.
</p>

<p>

  <b>Souvenirs:</b> T-shirts, Tote Bags, Hats, Mugs, more...
</p>

<p>

  <b>Housing:</b> Relive your life in the dorms or find a hotel close by, we’ll help.
</p>

<p>
  <b>Ticketed events:</b> <a href="/ticketed-events">View ticketed events here</a>.
  <br>

</p>
        </div>
    </div>
    </div>
</section>
<!-- {% include share.html %} -->
<!-- End About Hackathon Section -->
