<style media="screen">
  i {font-style: italic;}
</style>
<!-- About Hackathon Section -->
<section id="about-reunion" class="about-reunion">
  <div class="container">
    <div class="content-wrapper">
        <div class="col-md-12">
          <img src="/img/about-section/about-bucky-logo-black-w-text.png" alt="">
          <br><br>

          <p>
            <b>
            Keynote:
            </b>
             TBA.
          </p>
<p>

  <b>
    Tours:
  </b>

</p>
<ul>
  <li>Campus Tours.</li>
  <li>Mifflin St. Historic Tour.</li>
  <li>Ride the Trolley down State St. and around The Square.</li>
  <li>Find Where You Went Wrong: where you used to live and what it is now.</li>
  <li>Food Tour: The Plaza, The Brat House, The Nitty Gritty and you won’t believe what else.</li>
  <li>Frank Lloyd Wright’s Monona Terrace and the Otis Redding Memorial Park.</li>
  <li>The Lake Path and Picnic Point.</li>
  <li>Babcock Hall Ice Cream Social on the Union Terrace.</li>
</ul>

<p>

  <b>Music:</b> Daily jam sessions in the Rathskeller, nightly concerts on the Terrace and '60s dj dance party in Great Hall.
</p>

<p>

<b>Films:</b> Sponsored by the UW Cinematheque; films under consideration include Goddard's <i>La Chinoise</i>, Fellini's <i>Satyricon</i>, <i>Easy Rider</i>, <i>Blow Up</i>, <i>The Graduate</i>, <i>2001: A Space Odyssey</i>, <i>Gimme Shelter</i>, <i>Petula</i>.
</p>

<p>

  <b>Photography:</b> Exhibits in the Union Gallery and State Historical Society.
</p>

<p>

  <b>Electronic Bulletin Board:</b> Find friends, leave messages.
</p>

<p>

  <b>The Memory Booth:</b> Record your most vivid recollection of the times.
</p>

<p>

  <b>Souvenirs:</b> T-shirts, Tote Bags, Hats, Mugs, more...
</p>

<p>

  <b>Housing:</b> Relive your life in the dorms or find a hotel close by, we’ll help.
</p>

<p>
  <b>Ticketed events:</b> <a href="/ticketed-events">View ticketed events here</a>.
  <br>

</p>
        </div>
    </div>
    </div>
</section>
{% include share.html %}
<!-- End About Hackathon Section -->
