<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section enable-overlay" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1>The Madison Reunion</h1>
            <!-- <img width="140px" src="img/logo/bucky-logo-white-w-text.png" alt=""> -->
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h2>{{ heroText[0] }} <br>
              <!--span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span-->{{ heroText[1] }}</h2>
              <p>{{ site.eventDate }}</p>
            <p style="width:50%; margin: 20px auto; line-height: 1.25em;">
              The Madison Reunion hosted 1000 people for three days of music, meet-ups and deep diving into topics of meaning and importance at the Conference on Madison in the 60's.
            </p>
            <p style="width:50%; margin: 20px auto; line-height: 1.25em;">
              We are happy to announce the posting of videos of all panels from the conference – more than 40 hours capturing topics from war to comedy, music to history, journalism to theater and beyond.
            </p>
            <p>
              <a href="/videos/" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>Watch Videos Here</a>
            </p>
            <!-- {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %} -->
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
