<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
				<!-- {% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %}
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
        {% endfor %} -->
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">
              <li>
                The History of Madison; An over-view of the city, the university and their ongoing pas de deux, with Stuart Levitan
              </li>
              <li>
                The Peter Pan Effect; Madison's radical theater tradition, with Stuart Gordon and Andre DeShields.
              </li>
              <li>
                The Legacy of Harvey Goldberg
              </li>
              <li>
                SDS. A personal memoir: how we learned social action from the civil rights movement.
              </li>

            </ul>
          </p>
        </div>
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">

              <li>
                Documentary Films; when film makers turn the camera on us.
              </li>
              <li>
                Beyond Zap: The History of the Graphic Novel. Serious reading for the child in us all, with Paul Buhle.
              </li>
              <li>
                Women In The Revolution and the Struggle for a Women's Revolution
              </li>

            </ul>
          </p>
        </div>
        <div class="col-sm-12">
          <p> <a href="/schedule/" class="btn btn-primary waves-effect waves-button waves-light waves-float">And much more...</a> </p>
        </div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
