<!-- Begin Latest News Section -->
<section id="latest-news-links" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h4>What People Are Saying</h4>
			<article class="row">
				<!-- {% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %}
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
        {% endfor %} -->
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">
              <li>
                USA Today, May 18, 2018: <br> <a href="https://www.usatoday.com/story/travel/destinations/2018/05/18/madison-reunion-1960-s-wisconsin-alum/623068002/">Madison Reunion to celebrate spirit of the 1960s</a>
              </li>
              <li>
                Isthmus (weekly) cover story:<br> <a href="https://isthmus.com/news/cover-stories/ben-and-judy-sidran-say-the-madison-reunion-is-as-much-about/">My generation</a>
              </li>
              <li>
                Madison Magazine (monthly):<br> <a href="https://www.channel3000.com/madison-magazine/opinion/neil-heinen/heinen-madison-reunion-is-a-party-with-a-purpose/735471319">Heinen: Madison Reunion is a party with a purpose</a>
              </li>
            </ul>
          </p>
        </div>
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">
              <li>
                Wisconsin State Journal (daily):<br> <a href="http://host.madison.com/wsj/news/local/the-madison-reunion-is-a-party-for-madison-years-later/article_3b6e47ac-c8ef-5ef8-a3d7-cd3517976b5a.html">The Madison Reunion is a party for Madison 50 years later</a>
              </li>
              <li>
                WISC-TV, For the Record, 1/2 hour show:<br> <a href="https://www.channel3000.com/news/opinion/for-the-record/for-the-record-the-madison-reunion/723807631">For The Record: The Madison Reunion</a>
              </li>
              <li>
                The Capital Times editorial:<br> <a href="http://host.madison.com/ct/opinion/column/dave_zweifel/plain-talk-madison-reunion-will-bring-the-s-back-home/article_0a280be9-7bcc-5b09-94f0-30c371ba9212.html">Plain Talk: Madison Reunion will bring the '60s back home</a>
              </li>
            </ul>
          </p>
        </div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
