<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
				<!-- {% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %}
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
        {% endfor %} -->
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">
              <li>
                Clinton vs. Trump: The Last Battle of the Sixties Generation?
              </li>
              <li>
                The War at Home; Taking it To The Streets
              </li>
              <li>
                Music; Retail as Revolution; Remembering Discount Records
              </li>
              <li>
                The Gay Rights Movement in Sixties Madison
              </li>
              
            </ul>
          </p>
        </div>
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">

              <li>
                Theories of Conspiracy; From JFK to Today
              </li>
              <li>
                UW History Dept: the Legacy of Harvey Goldberg and George Mosse
              </li>
              <li>
                The Comedy Connection; Is There a Madison Style? Blazing Saddles, Airplane, and The Onion
              </li>
              <li>
                And much more...
              </li>
            </ul>
          </p>
        </div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
