<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
				<!-- {% for post in site.posts limit:2 %}
                    {% assign postUrl = site.baseurl | append: post.url %}
					<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
        {% endfor %} -->
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">
              <li>
                The Peter Pan Effect; Madison's radical theater tradition, with Stuart Gordon and André De Shields.
              </li>
              <li>
                Talking Harvey Goldberg; With Joe Elder and TBA.
              </li>
              <li>
                Capturing the Truth: Making Documentary Films; With Peter Gilbert and Errol Morris.
              </li>
              <li>
                The Comedy Connection – Is Madison funny? With Jim Abrahams and Andy Bergman.
              </li>

            </ul>
          </p>
        </div>
        <div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">

          <p class="post-body">
            <ul class="panels-list">

              <li>
                The Writer's Workshop; With Ann Lauterbach, Scott Spencer and Peter Straub.
              </li>
              <li>
                The News as History; What we knew and when we knew it, with Jeff Greenfield.
              </li>
              <li>
                Searching for the Maharishi Within; The radical nature of compassion, with Richie Davidson.
              </li>
							<li>
								History is What Happens While You're Making Other Plans; The day of the DOW demonstration, with Paul Soglin and TB
							</li>
            </ul>
          </p>
        </div>
        <div class="col-sm-12">
          <p> <a href="/schedule/" class="btn btn-primary waves-effect waves-button waves-light waves-float">And much more...</a> </p>
        </div>
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->
