<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
  <div class="alert alert-info" role="alert">
    All panels, panelists, venues and times subject to change
  </div>

    <div class="content-wrapper">

      <div class="schedule-list-section" style="display: block; float: left; margin-bottom: 61px; margin-top: 30px;">

        <div class="col-lg-8 col-md-10 col-md-offset-1" style="text-align:left;">

          <ul>
            <li><b>1963: The Calm Before the Storm;</b> Fraternities, Mill Ball and The Rose Bowl, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-25">Stuart Levitan</a>.</li>
            <li><b>The Peter Pan Effect;</b> Madison&#39;s radical theater tradition, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-17">Stuart Gordon</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-61">Carolyn Purdy-Gordon</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-14">Andr&eacute; De Shields</a>.</li>
            <li><b>Talking Harvey Goldberg;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-53">Joe Elder</a> and TBA.</li>
            <li><b>SDS;</b> Three personal memoirs, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-54">Marty Tandler</a> and TBA.</li>
            <li><b>Capturing the Truth: Making Documentary Films;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-52">Peter Gilbert</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-29">Errol Morris</a>.</li>
            <li><b>Beyond Zap: The History of the Graphic Novel;</b> Serious reading for the child in us all, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-10">Paul Buhle</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-46">Dave Wagner</a>.</li>
            <li><b>Women In The Revolution and the Struggle for a Women&#39;s Revolution</b> with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-44">Margery Tabankin</a> and TBA.</li>
            <li><b>The Writer&#39;s Workshop;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-23">Ann Lauterbach</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-40">Scott Spencer</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-43">Peter Straub</a>.</li>
            <li><b>The Legacy of Gaylord Nelson;</b> Earth Day and its origins in the social protest movement of the &#39;60s, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-30">Tia Nelson</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-57">Kathleen Falk</a>.</li>
            <li><b>History is What Happens While You&#39;re Making Other Plans;</b> The day of the DOW demonstration, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-38">Paul Soglin</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-50">Peter Coyote</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-66">Vicki Gabriner</a>.</li>
            <li><b>What’s so Funny About Madison?</b> The Comedy Connection, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-6">Andy Bergman</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-5">Jim Abrahams</a>.</li>
            <li><b>The Politics of Resentment;</b> Looking for the Wisconsin Idea in the idea of Wisconsin, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-12">Katherine Cramer</a>.</li>
            <li><b>How You Travel Is Who You Are;</b> On the road with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-18">Peter Greenberg</a>.</li>
            <li><b>How UW Scientists Changed the World;</b> DNA, stem cells, Warfarin and Vitamin D, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-49">John Wiley</a>.</li>
            <li><b>The Millenial Move;</b> MoveOn, Upworthy and the Makers Movement. How &#39;60s social action is alive today with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-59">Ben Wikler</a>, TBA.</li>
            <li><b>Freedom Riding;</b> Personal memoirs of the Civil Rights Struggle with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-60">Paul Higginbotham</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-9">Paul Breines</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-63">Gwen Gillon</a>.</li>
            <li><b>We Gotta Get Out of This Place;</b> How music kept them alive in Vietnam, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-48">Craig Werner</a>.</li>
            <li><b>Discount Records; Retail as Revolution,</b> with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-3">Ben Sidran</a>, TBA.</li>
            <li><b>Searching for the Maharishi Within;</b> The radical nature of compassion, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-13">Richie Davidson</a>.</li>
            <li><b>The Legacy of George Mosse;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-45">John Tortorice</a>.</li>
            <li><b>"Tikkun Olam;"</b> Why Madison was a magnet for the Jewish intellectual diaspora during the 20th century, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-33">Jonathan Pollack</a>.</li>
            <li><b>Ecstasy and the Meaning of the Blues;</b> The neurological connection between altered states of mind and digging the music, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-26">Daniel Levitin</a>.</li>
            <li><b>The War at Home;</b> The making of the iconic documentary, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-37">Glenn Silber</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-67">Frank Emspack</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-42">Evan Stark</a>.</li>
            <li><b>Conscientious Objection;</b> Not in my name, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-34">Jerald Rousseau</a>.</li>
            <li><b>What Madison Meant to the Movement;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-50">Peter Coyote</a>, TBA.</li>
            <li><b>A History of LGBT Madison;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-47">Dick Wagner</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-64">Kathleen Nichols</a>.</li>
            <li><b>Civil Rights, Social Justice and the Law;</b> Sixty years later the story that won't go away, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-41">Dean Strang</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-62">Ismael Ozanne</a>.</li>
            <li><b>Why We Get High;</b> Psychopharmacology, from the pursuit of pleasure to the treatment of pain, from lifestyle choice to end of life decisions, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-55">Ken Robbins</a>.</li>
            <li><b>What's Left of the Wisconsin Idea;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-56">Russ Feingold</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-27">David Maraniss</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-65">Barbara Lawton</a>.</li>
            <li><b>The State of the 4th Estate;</b> With <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-19">Jeff Greenfield</a>, <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-27">David Maraniss</a> and <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-7">Lowell Bergman</a>.</li>
            <li><b>Open Mic:</b> Rat or Cafeteria, Mosse or Goldberg, pot or alcohol, how culture transformed our politics, with <a class="panels-lily lily-head" data-toggle="modal" data-target="#speakerDetail-58">Jesse Samberg</a> as moderator.</li>
          </ul>
          <br>
          <br>
          <p style="font-size: 20px;">
            <b>Ticketed events:</b> <a href="/ticketed-events">View ticketed events here</a>.
            <br>

          </p>

        </div>
      </div>


    </div>
</section>

<!-- {% include share.html %} -->
<!-- End Schedule Section -->
