<!-- Begin Schedule Section -->
<section id="list" class="schedule">

    <div class="content-wrapper">

      <div class="schedule-list-section" style="display: block; float: left; margin-bottom: 61px; margin-top: 30px;">

        <div class="col-lg-8 col-md-10 col-md-offset-1" style="text-align:left;">

          <ul>
            <li><b>The Legacy of George Mosse;</b> <a href="https://vimeo.com/289015504">Watch Video</a></li>
            <!-- <li><b>Talking Harvey Goldberg;</b> <a id="session-6" class="slot" data-toggle="modal" data-target="#sessionDetail-6">Watch Video</a></li> -->
          </ul>
          <br>
          <br>

        </div>
      </div>

    </div>
</section>

<!-- {% include share.html %} -->
<!-- End Schedule Section -->
