<!-- Begin Schedule Section -->
<section id="list" class="schedule">

    <div class="content-wrapper">

      <div class="schedule-list-section" style="display: block; float: left; margin-bottom: 61px; margin-top: 30px;">

        <div class="col-lg-8 col-md-10 col-md-offset-1" style="text-align:left;">

          <ul>
            <li>Talking Harvey Goldberg; With Marty Tandler, Ben Sidran, Jane Brotman and Allen Ruff.</li>
            <li>"Tikkun Olam;" Why Madison was a magnet for the Jewish Diaspora during the 20th century, with Jonathan Pollack, and Hasia Diner.</li>
            <li><b>The Legacy of George Mosse;</b> <a href="https://vimeo.com/289015504">Watch Video</a></li>
            <li>Why We Get High; Psychopharmacology, from the pursuit of pleasure to the treatment of pain, from lifestyle choice to end of life decisions, with Ken Robbins, Bill Linton, Nicholas V. Cozzi and John Herman.</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <br>
          <br>

        </div>
      </div>

    </div>
</section>

<!-- {% include share.html %} -->
<!-- End Schedule Section -->
