<div class="container">
  <div class="container-wrapper">

    <div class="share col-md-12 col-xs-12">

      <div class="sharethis-inline-share-buttons"></div>

      <!-- <b>Share this page:</b>

      <ul class="social-links" style="padding-left:0px;">
        {% assign postUrl = site.url | append: site.baseurl | append: page.url %}
        <li>
          <a href="#" onclick="window.open('https://plus.google.com/share?url={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
            <svg class="icon icon-google-plus" viewBox="0 0 30 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" onclick="window.open('https://twitter.com/home?status={{ postUrl }}', 'newwindow', 'width=600, height=250'); return false;">
            <svg class="icon icon-twitter" viewBox="0 0 30 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
            <svg class="icon icon-facebook" viewBox="0 0 30 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul> -->
    </div>

  </div>
</div>
