.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 720px;
		text-align: left;
    // @include bop-text;

    h1 {
      color: $orange;
    }

    p {
      // color: $black;
      font-family: $secondary;
    }

		h1, h2, p {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}

    .button a {
      font-family: $secondary;
      font-weight: 600;
      color: $black;
      background: $orange;
    }

	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

// mobile hero settings
@media (max-width: 767px) {
    .inner-hero.text-container h1 {
        font-size: 1.75em;
    }
    .inner-hero.text-container img {
        width: 50%;
        margin: auto;
        display:block
    }
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.text h2 {
  position: relative;
  width: 110%;
  padding: 40px;
  font-family: $headline;
  color: $brown;
  background: $orange;
}
#plan {
  background: $orange;

  h2 {
    color: $brown;
    background: transparent;
  }
}

ul.panels-list li {
  padding-bottom: 7px;
  color: $yellow;
}
