$brand-color: pink;

// Colors
$black: #1e1915;
$red: #761b0c;
$orange: #fc770c;
$brown: #4b453b;

// Fonts
$headline: 'Shrikhand', cursive;
$secondary: 'Trocchi', serif;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
